extends layout

block content
  h1 About Aegis Personal Payment Gateway
  p The Aegis PPG uses the UbiApps Proxy, the cloud-based messaging agent, the multi-device browser and notification handlers to make it possible for financial transaction processors to immediately notify an end user of a finance event. The user can either be passively notified, or real time approval can be required to complete the transaction.